<div class="gdc-logo-list-simple">
  {% for block in section.blocks %}
      {%  if block.type == 'logo_image' %}
        <a class="gdc-logo-list-simple__image-wrapper" href="{{ block.url }}">
            {% render 'gdc-image' image: block.settings.image %}
        </a>
      {% endif %}
  {% endfor %}
</div>
