<div class="gdc-squares-row">
  <span class="gdc-square"></span>
  <span class="gdc-square"></span>
  <span class="gdc-square"></span>
</div>

<style>
  .gdc-squares-row {
    justify-content: {{ justify }};
  }
</style>