<section class="gdc-side-scroller">
  <header class="gdc-section-header--center">
    <h2>{{ section.settings.title }}</h2>
  </header>

  <div class="gdc-row-scroller">
    {% for block in section.blocks %}
      {% if block.type == "card" %}
        {%- render 'gdc-block-card-image-text',
                    id: block.id,
                    card_width: section.settings.card_width,
                    card_image_width: section.settings.card_image_width,
                    image: block.settings.image, 
                    fit: block.settings.image_fit, 
                    text: block.settings.text,
                    title: block.settings.title,
                    bg_color: block.settings.bg_color,
                    url: block.settings.url 
        -%}
      {% endif %} 
    {% endfor %}
  </div>

  {% if section.settings.text != blank %}
    <div class="gdc-text__wrapper">
      {{ section.settings.text }} 
    </div> 
  {% endif %}

</section>

{% schema %}
{
  "name": "GDC: Card Side Scroller",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"  
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",   
      "default": "Section Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
    },
    {
      "type": "range",
      "id": "card_width",
      "min": 100,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Card Width",
      "default": 200,
      "info": "Each Card in the section has the same width." 
    },
    {
      "type": "range",
      "id": "card_image_width",
      "min": 100,
      "max": 300,
      "step": 2, 
      "unit": "px",
      "label": "Card Image Width",
      "default": 300
    }
  ],  
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Card Image Link"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Card Image Background color",
          "info": "Adds a background colour to card images for a consistent shape when images are different sizes."
        },
        {
          "type": "select",
          "id": "image_fit",
          "options": [
          { "value": "contain", "label": "Contain"},
          { "value": "cover", "label": "Cover"}
          ],
          "label": "Image fit"
        }, 
        {
          "type": "text",
          "id": "title",
          "label": "Card Title"
        }, 
        {
          "type": "richtext",
          "id": "text",
          "label": "Card text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "GDC: Card Side Scroller",
      "category": "GDC Custom Components"
    }
  ]
}
{% endschema %}    